annotated-types
anyio
boto3
botocore
certifi
cffi
charset-normalizer
# click
colorama
cryptography
dnspython
email_validator
et-xmlfile
fastapi
fastapi-cli
h11
httpcore
httptools
httpx
idna
iniconfig
Jinja2
jmespath
joblib
loguru
markdown-it-py
MarkupSafe
mdurl
msal
nltk
numpy
openpyxl
packaging
pandas
pip-system-certs
pluggy
pycparser
pydantic
pydantic_core
Pygments
PyJWT
pytest
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
azure-identity
azure-cosmos
langchain
openai
SQLAlchemy
psycopg2-binary
python-jose
python-jose[cryptography]
uvicorn[standard]